*{
    margin: 0 px;
}
h1{
    font-size: 2rem;
}

#main,cavnas{
    border: 2px solid black;
    margin-top: 10 px;
}

#canvas{
    width: 60%;
    margin:auto;
    height:800px;
    border: 2px solid black;
}

#form-body{
    width: 300px;
    height:400px;
    border:1px solid grey;
    margin:auto;
    margin-top: 200px;
    padding: 10px;
}

.headings{
    margin: 10px;
    padding: 2px;
}


#tabletext{
    color: rgb(123, 121, 121);
}

.flash-container {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;    
}