   {% extends 'base.html' %}

    {% block content %}
    <style>
        #form-body{
            height:auto;
            margin-top: 240px;
            
        }
    </style>
    <div id="main">
        <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category if category != 'message' else 'info' }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
        <div id="canvas">
            <div id="form-body">
                <h1>Login Form</h1>
                <form action="/login" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Username</label>
                    <input type="text" class="form-control" id="name" name="username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="text-center">
                <input type="submit" class="btn btn-primary" value="Login"><br>
                If you are new,<br> 
                <a href="{{ url_for('register_student') }}">Register (Student)</a>
                <a href="{{ url_for('register_company') }}">Register (Company)</a>
                </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
